<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30592401942-4si481d1fshldnot50b7jsd47ua3gih3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30592401942-4si481d1fshldnot50b7jsd47ua3gih3</string>
	<key>API_KEY</key>
	<string>AIzaSyDeCaY9mIHf-0v44qA3d-_9jh70u5EScUU</string>
	<key>GCM_SENDER_ID</key>
	<string>30592401942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rolaman.studion.studionMobile</string>
	<key>PROJECT_ID</key>
	<string>studion-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>studion-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30592401942:ios:118dfcdd7cef81a708eb37</string>
	<key>DATABASE_URL</key>
	<string>https://studion-dev-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>